# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb://127.0.0.1:27017/kalvims
# JWT
JWT_SECRET=kalvims_8f7a9c2d!@#supersecurekey_2026
JWT_EXPIRE=7d

# Cloudinary
CLOUDINARY_CLOUD_NAME=dbyjkdeqj
CLOUDINARY_API_KEY=358548292915293
CLOUDINARY_API_SECRET=icXT1UQVU1I78uo4eR_b3V_JMf8

# Frontend URL (for CORS)
CLIENT_URL=http://localhost:5173
